#myCanvas {
    background: #ffffff;
    /* border:1px solid #000000; */
}

.navCube {
    height: 200px;
    width: 200px;
    position: fixed;
    right: 0;
    bottom: 0;
}

.sections { 
        width: 200px;
        height: 200px;
        bottom: 100px;
        right: 0;
        position: fixed;
        z-index: 200000
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.4s ease-in-out;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
  }

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }